.itemContainer {
  padding: 10px;
  display: flex;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.imageContainer {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}
.nameContainer {
  margin-left: 50px;
}
.name {
  font-size: larger;
  font-weight: bold;
}
.amount {
  font-weight: bold;
  margin-top: 10px;
}
