.inputContainer {
  display: flex;
  margin: 20px auto;
  width: 300px;
  position: relative;
}

.inputField {
  border: 1px solid rgba(188, 187, 187, 0.409);
  border-radius: 19px;
  outline: none;
  font-size: 20px;
  padding: 0 20px;
}
.inputField:hover {
  border: 2px solid;
  border-color: rgb(241, 204, 38);
}
.searchIcon {
  height: 30px;
  width: 30px;
  padding: 10px;
  color: rgb(241, 204, 38);
}
